body{
    margin: 0;
    padding: 0;
    background-color: rgb(198, 255, 196);
}
.container{
    width: 94%;
    margin: auto;
}
.card{
    width: 50%;
    background-color: cadetblue;
    margin: auto;
}
.card-header{
    padding: 8px;
    background-color: rgb(4, 54, 56);
    text-align: center;
    color: #fff;
}
.card-body{
    padding: 10px 15px;
}
.form-group label{
    display: block;
    color: #fff;
}

.form-group{
    margin-bottom: 12px;
}
.form-control{
    padding: 9px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid green;
}
.btn{
    padding: 12px;
    border-style: none;
    color: #fff;
    background-color: rgb(3, 32, 3);
}
.book-content{
    padding: 15px;
}
.table{
    width: 100%;
    border-collapse: collapse;
}
.table tr th, .table tr td{
    border:1px solid green;
    padding: 7px;
}
i.fa.fa-trash {
    font-size: 20px;
    color: red;
    padding: 7px;
    margin-left: 10px;
}

i.fa.fa-edit {
    font-size: 20px;
    color: rgb(21, 33, 201);
    padding: 7px;
    margin-left: 10px;
}